<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" />
      <title>Joseph.T Website</title>
    </head>
  <body>
    <header>
      <h1 class="logo">Joseph.T</h1>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/portfolio/#home">Home</a></li>
          <li><a href="/portfolio/#about">About</a></li>
          <li><a href="/portfolio/#contact">Contact</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
    <div class="main">
      <div class="detail-container">
        <div class="detail-display">
          <div class="detail-title">
            <p style="text-align: left; font-size: 2em; margin-top: 0.5em; margin-bottom: 0.5em;">
              <b>
              {{ item.item_title }} 
              </b>
            </p>
            <div style="text-align: right;">
              <small>Created: {{ item.item_date }}</small>
            </div>
          </div>
          <div class="detail-text-block summary-text-block">
            <p>{{ item.item_summary }}</p>
          </div>
          <img class= "detail-image" src="{% static 'images/portfolioitems/'|add:item.item_img_id|add:'.png' %}"/>
          
          <div class="detail-text-block" style="padding-top: 2em;">{{ item.item_details |safe }}</div>
          <p>Click the link below to visit the github repository:</p>
          <div class="github-link-block">
            <img class="github-logo" src="{% static 'images/links/github-mark/github-mark-white.png' %}"/>
            <b id="link-text"></b>
            <script one="{{ item.item_git_link}}">
              let link = document.currentScript.getAttribute('one');
              document.getElementById("link-text").innerHTML = link.substring(19);
            </script>
            <a href="{{ item.item_git_link }}">
              <span class="link-spanner"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <p class="footer">Author: Joseph Thurlow</p>
      <p class="footer">Copyright &copy 2022</p>
    </div>
  </body>
</html>