<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}" />
      <title>Joseph.T Website</title>
    </head>
  <body>
    <header>
      <h1 class="logo">Joseph.T</h1>
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/portfolio/#home">Home</a></li>
          <li><a href="/portfolio/#about">About</a></li>
          <li><a href="/portfolio/#contact">Contact</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
    <div class="main">
      <div class="detail-container">
        <div class="detail-display">
          <img class= "detail-image" src="{% static 'images/portfolioitems/'|add:item.item_img_id|add:'.png' %}"/>
          <div class="detail-title">
            <p style="text-align: left; font-size: 2em;">
              <b>
              {{ item.item_title }} 
              </b>
            </p>
            <div style="text-align: right;">
              <small>Created: {{ item.item_date }}</small>
            </div>
          </div>
          <div class="detail-text-block">{{ item.item_details |safe }}</div>
        </div>
      </div>
    </div>
    <div class="footer-container">
      <p class="footer">Author: Joseph Thurlow</p>
      <p class="footer">Copyright &copy 2022</p>
    </div>
  </body>
</html>